@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 48px;
    padding: 50px 0;
    color: white;
    text-align: center;
}

h2 {
    font-size: 32px;
    padding-bottom: 24px;
}

p {
    padding-bottom: 12px;
}

.link {
    padding-top: 12px;
    font-size: 12px;
    font-style: italic;

    p {
        padding: 0;
    }
    a {
        font-size: inherit;
    }
}

@media only screen and (min-width: 880px) {

    h1 {
        font-size: 56px;
    }
}

@media only screen and (min-width: 1100px) {

    h1 {
        font-size: 72px;
        padding: 100px 0;
    }
}